apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: ${es_cluster_name}
  namespace: ${namespace}
spec:
  version: ${es_version}
%{ if es_image != null && es_image != "" ~}
  image: ${es_image}
%{ endif ~}
  volumeClaimDeletePolicy: ${volume_claim_delete_policy}
%{ if length(secure_settings) > 0 ~}
  secureSettings:
%{ for setting in secure_settings ~}
    - secretName: ${setting.secret_name}
%{ if length(setting.entries) > 0 ~}
    entries:
%{ for entry in setting.entries ~}
      - key: ${entry.key}
%{ if entry.path != null ~}
        path: ${entry.path}
%{ endif ~}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
%{ endif ~}
%{ if update_strategy != null ~}
  updateStrategy:
%{ if update_strategy.change_budget != null ~}
    changeBudget:
%{ if update_strategy.change_budget.max_surge != null ~}
      maxSurge: ${update_strategy.change_budget.max_surge}
%{ endif ~}
%{ if update_strategy.change_budget.max_unavailable != null ~}
      maxUnavailable: ${update_strategy.change_budget.max_unavailable}
%{ endif ~}
%{ endif ~}
%{ endif ~}
  nodeSets:
%{ for node_set in node_sets ~}
    - name: ${node_set.name}
      count: ${node_set.count}
      config:
%{ for key, value in merge(global_config, node_set.config) ~}
        ${key}: ${value}
%{ endfor ~}
%{ if node_set.storage != null && (node_set.storage.size != "" || node_set.storage.storage_class != "") ~}
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: ${node_set.storage.size}
%{ if node_set.storage.storage_class != "" ~}
            storageClassName: ${node_set.storage.storage_class}
%{ endif ~}
%{ endif ~}
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              imagePullPolicy: ${image_pull_policy}
%{ if node_set.resources.requests != null || node_set.resources.limits != null ~}
              resources:
%{ if node_set.resources.requests != null ~}
                requests:
%{ if node_set.resources.requests.memory != "" ~}
                  memory: ${node_set.resources.requests.memory}
%{ endif ~}
%{ if node_set.resources.requests.cpu != "" ~}
                  cpu: ${node_set.resources.requests.cpu}
%{ endif ~}
%{ endif ~}
%{ if node_set.resources.limits != null ~}
                limits:
%{ if node_set.resources.limits.memory != "" ~}
                  memory: ${node_set.resources.limits.memory}
%{ endif ~}
%{ if node_set.resources.limits.cpu != "" ~}
                  cpu: ${node_set.resources.limits.cpu}
%{ endif ~}
%{ endif ~}
%{ endif ~}
%{ endfor ~}
