apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: ${kibana_name}
  namespace: ${namespace}
spec:
  version: ${kibana_version}
%{ if kibana_image != null && kibana_image != "" ~}
  image: ${kibana_image}
%{ endif ~}
  count: ${replicas}
  elasticsearchRef:
    name: ${es_cluster_name}
%{ if es_namespace != null && es_namespace != namespace ~}
    namespace: ${es_namespace}
%{ endif ~}
%{ if length(secure_settings) > 0 ~}
  secureSettings:
%{ for setting in secure_settings ~}
  - secretName: ${setting.secret_name}
%{ if length(setting.entries) > 0 ~}
    entries:
%{ for entry in setting.entries ~}
    - key: ${entry.key}
%{ if entry.path != null ~}
      path: ${entry.path}
%{ endif ~}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
%{ endif ~}
%{ if resources != null ~}
  podTemplate:
    spec:
      containers:
      - name: kibana
        imagePullPolicy: ${image_pull_policy}
        resources:
%{ if resources.requests != null ~}
          requests:
%{ if resources.requests.memory != null ~}
            memory: ${resources.requests.memory}
%{ endif ~}
%{ if resources.requests.cpu != null ~}
            cpu: ${resources.requests.cpu}
%{ endif ~}
%{ endif ~}
%{ if resources.limits != null ~}
          limits:
%{ if resources.limits.memory != null ~}
            memory: ${resources.limits.memory}
%{ endif ~}
%{ if resources.limits.cpu != null ~}
            cpu: ${resources.limits.cpu}
%{ endif ~}
%{ endif ~}
%{ endif ~}
