apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: ${kibana_name}
  namespace: ${namespace}
spec:
  version: ${kibana_version}
%{ if kibana_image != null && kibana_image != "" ~}
  image: ${kibana_image}
%{ endif ~}
  count: ${replicas}
  elasticsearchRef:
    name: ${es_cluster_name}
%{ if es_namespace != null && es_namespace != namespace ~}
    namespace: ${es_namespace}
%{ endif ~}

  podTemplate:
    spec:
      containers:
      - name: kibana
        imagePullPolicy: ${image_pull_policy}
        resources:
          requests:
            memory: ${resources.requests.memory}
            cpu: ${resources.requests.cpu}
          limits:
            memory: ${resources.limits.memory}
            cpu: ${resources.limits.cpu}
